html,
body {
    width: 100%;
    margin: 0;
}



.backgroundLayerVideo{
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.coinBlock {
    height: 100vh;
    display: inline-block;
    margin: 20px;
    width: 420px;
    height: 300px;
}

.coinBlock>h5,
h6,
button {
    margin-left: 20px;
    margin-top: 20px;
}

.coinBlock>h5 {
    display: inline-block;
}

.coinContainer {
    margin-top: 5rem;
}

h5 {
    font-size: 18px;
}

.nav-item>a {
    margin-left: 2rem;
    color: black;
    font-size: 20px;
}

.toggle {
    position: absolute;
    display: inline-block;
    right: 20px;
    top: 20%;
}

.siteLogo>img {
    width: 120px;
    display: inline-block;
}

.siteHeadline {
    display: inline-block;
}

.collapsedContent {
    display: inline-block;
    width: 350px;
}

.collapsedContent>img {
    float: right;
}

.absoluteCollapse {
    margin-left: 5%;
    margin-top: 5%;
    position: absolute;
}

.modalToggleBox{
    display: inline-block;
    margin: 10px;
    width: 420px;
    height: 120px;
}

.loaderGif{
    width: 120px;
    height: 120px;
}