html,
body {
    width: 100%;
    margin: 0;
}

body {
    background-image: url('../assets/images/homeBackGround.png');
    background-attachment: fixed;
    background-size: cover;
}

.currInfoCard {
    overflow: auto;
    height: 140px;
}

.col {
    padding-left: 15px;
    padding-right: 15px;
}

.selfImage {
    width: 320px;
    height: 400px;
    border-radius: 220px;
}

.colAboutInfo {
    display: inline-block;
}

.infoTxt {
    bottom: 110px;
    margin-right: 50px;
}

#chartContainer {
    height: 700px;
    width: 100%;
}

.coinContainer>.toggle {
    margin-bottom: 15px;
}

.collapsedContent {
    background-color: rgba(255, 255, 255, 0.267);
}

.dancingBears {
    border-radius: 50px;
}

.backgroundLayerVideo {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.coinBlock>h5,
h6 {
    color: rgb(22, 103, 170);
    text-shadow: 1px 1px 1px rgba(38, 38, 224, 0.452);
}

.coinBlock {
    border: 2px white solid;
    background-color: rgba(236, 214, 140, 0.74);
    height: 100vh;
    display: inline-block;
    margin: 10px;
    width: 300px;
    height: 300px;
}

.coinBlock>h5,
h6 {
    margin-left: 20px;
    margin-top: 20px;
}

button {
    margin-left: 20px;
    margin-top: 35px;
}

.coinBlock>h5 {
    display: inline-block;
}

.navLinkText:hover {
    background-color: rgba(255, 201, 64, 0.24);
    transition: .2s;
}

li>a:hover {
    color: rgb(250, 209, 104);
    text-decoration: none;
}

.siteLogo>h1 {
    color: white;
}

.mainLoaderGif>h3 {
    color: white;
    text-shadow: 1px 2px black;
}

.navLinkText {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 4px;
    background-color: rgba(245, 245, 220, 0.164);
    padding: 6px;
    border-radius: 25px;
    transition: .2s;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.178);
    border-radius: 15px;
}

.coinContainer {
    margin-top: 5rem;
}

h5 {
    font-size: 15px;
}

.nav-item>a {
    color: white;
    font-size: 20px;
}

.coinBlock>.toggle {
    position: absolute;
    display: inline-block;
    right: 10%;
    top: 18%;
}

.siteLogo>img {
    width: 120px;
    display: inline-block;
}

.siteHeadline {
    display: inline-block;
}

.collapsedContent {
    display: inline-block;
    width: 260px;
}

.collapsedContent>img {
    float: right;
}

.absoluteCollapse {
    margin-left: 5%;
    margin-top: 5%;
    position: absolute;
}

.modalToggleBox {
    display: inline-block;
    margin: 10px;
    width: 320px;
    height: 120px;
}

.loaderGif {
    width: 120px;
    height: 120px;
}

.modal-body,
.modal-header,
.modal-footer,
.modalToggleBox {
    background-color: rgba(236, 214, 140, 0.74);
}

.modalToggleBox>lable {
    margin-right: 25px;
}

.currInfoCard:-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.currInfoCard::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.currInfoCard::-webkit-scrollbar-thumb {
    background-color: rgb(255, 194, 103);
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
}


/* -------------------------------------------------- */

*::selection {
    background: rgb(255, 194, 103);
}


/* -------------------------------------------------- */

body:-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 194, 103);
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
}